[template]
src=/etc/c10r/templates/nginx.conf.tpl
dest=/etc/nginx/sites-enabled/${name}.conf
write=yes
prune=no
mtime=last_updated
query=SELECT id, name, root,
      strftime('%s', last_updated) as last_updated
      FROM api_domain
